# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
.terraform.lock.hcl
terraform.tfvars
*.auto.tfvars
override.tf
override.tf.json

# Packer
packer_cache/
*.pkr.hcl.lock.json
manifest.json

# SSH keys
*.pem
*.key
id_rsa*
id_ed25519*

# AWS credentials
.aws/
credentials

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
